<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>manage_plant</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="row">
    <div th:replace="fragments/sidebar.html :: sidebar" th:with="role=${role}, login=${login}"></div>

<div class="container mt-5" xmlns:th="http://www.w3.org/1999/xhtml">
    <div style="text-align: center">

        <h2>Добавление расстения</h2>
        <form action="/manage_plant" method="post">
            <div class="form-group">
                <label for="name">Название</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="contrand">Противопоказания:</label>
                <input type="text" class="form-control" id="contrand" name="contrand" required><br>
            </div>

            <div class="form-group">
                <label for="descript">Описание:</label>
                <input type="text" class="form-control" id="descript" name="descript"><br>
            </div>
            <div class="form-group">
                <label for="gatherngPlace">Место Сбора:</label>
                <input type="text" class="form-control" id="gatherngPlace" name="gatherngPlace"><br>
            </div>

            <!-- Вывод сообщения об ошибке, если оно есть -->
            <div th:if="${error}" class="alert alert-danger" role="alert">
                <p th:text="${error}"></p>
            </div>
            <div th:if="${message}" class="alert alert alert-success" role="alert">
                <p th:text="${message}"></p>
            </div>

            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </form>
        <br>
        <div style="height: 50px;"></div>

    </div>
</div>
</div>
</body>
</html>
